<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 公共的CSS库 -->
<head th:include="/site/common/common_head :: commonHead"></head>
<title>关于 | QX Blog</title>

<body class="bg-grey" gtools_scp_screen_capture_injected="true">
<!--[if lt IE 8]>
<div class="browsehappy" role="dialog">
    当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/" target="_blank">升级你的浏览器</a>。
</div>
<![endif]-->

<!-- header -->
<div th:replace="site/header :: header"></div>

<link rel="stylesheet" th:href="@{/static/site/css/about.css}"/>

<!-- main -->
<div id="main" style="background: #fff">
    <article role="pge-title-content" class="main-content page-page" itemscope itemtype="http://schema.org/Article">
        <div class="post-header">
            <h1 class="post-title" itemprop="name headline">About</h1>
            <div class="post-data">
                <time datetime="2019-2-20" itemprop="datePublished">发布于 2019-2-20</time>
            </div>
        </div>
        <div id="post-content" class="post-content">
            <header>
                <div class="hello"><span>Hi! </span> My name is QianXing.</div>
            </header>
            <label>I’m a Java Developer with an enduring interest in Coding and Write Blog.</label>
            <br/>
            <br/>
            <h1>关于</h1>
            <p style="margin-bottom: 10px;">Hi! 你好，我是浅行, 专注Java开发， 喜欢代码艺术， 关注新技术</p>
            <p>喜欢运动， 音乐</p>
            <br/>
            <br/>
            <h1>Works</h1>
            <ul>
                <li><a href="https://github.com/Shichimiyasatone/SSM-QX-SYS-V1.01">浅行博客:</a> 低调奢华的Java博客系统，基于SSM实现</li>
                <li><a href="https://github.com/chibuqikendeji/webmagic">WebMagic:</a>基于Scrapy框架和HttpClient、Jsoup等Java工具实现的简单灵活的爬虫框架</li>
                <li><a href="https://github.com/Shichimiyasatone/SSM-WZ-SYS-V1.01">文章管理系统:</a> 基于SSM框架简单的文章管理系统，使用MySQL多表存储方式实现留言回复功能</li>
            </ul>
            <br/>
            <br/>
            <h1>Connect</h1>
            <img src="/SSM-QX-SYS-V1.01/static/site/img/qq.png">
        </div>
    </article>
            <!-- 列表 -->
            <ol class="comment-list" th:if="${talkList.total} >= 0">
                <li th:each="comment : ${talkList.rows}" th:id="'li-comment-' + ${comment.parent.id}"
                    class="comment-body comment-parent comment-odd">
                    <div th:id="'comment-' + ${comment.parent.id}">
                        <div class="comment-view">
                            <div class="comment-header">
                                <img class="avatar" src="http://cdn.tycoding.cn/author.png" width="80" height="80">
                                <span class="comment-author">
                                    <a th:href="${comment.parent.url}" target="_blank" rel="external nofollow" th:text="${comment.parent.author}"></a>
                                </span>
                            </div>
                            <div class="comment-content">
                                <span class="comment-author-at"></span>
                                <p><p th:text="${comment.parent.content}"></p></p>
                            </div>
                            <div class="comment-meta">
                                <time class="comment-time" th:text="${#dates.format(comment.parent.time, 'yyyy-MM-dd')}"></time>
                                <span class="comment-reply">
                                <a rel="nofollow" th:onclick="'javascript:TumoComment.reply(\'' + ${comment.parent.author} + '\',\'' + ${comment.parent.id} + '\');'">回复</a>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div th:if="${comment.childrenList} != '[]'" class="comment-children">
                        <ol class="comment-list">
                            <li th:each="item : ${comment.childrenList}" th:id="'li-comment-' + ${item.id}"
                                class="comment-body comment-child comment-level-odd comment-odd">
                                <div th:id="'comment-' + ${item.id}">
                                    <div class="comment-view">
                                        <div class="comment-header">
                                            <img class="avatar" src="http://cdn.tycoding.cn/author.png" width="80" height="80">
                                            <span class="comment-author comment-by-author">
                                            <a th:href="${item.url}" target="_blank" rel="external nofollow" th:text="${item.author}"></a>
                                        </span>
                                        </div>
                                        <div class="comment-content">
                                        <span class="comment-author-at">
                                            <a th:href="'#comment-' + ${item.cId == 0 ? item.pId : item.cId}" th:text="${item.authorId}"></a>
                                        </span>
                                            <p><p th:text="${item.content}"></p></p>
                                        </div>
                                        <div class="comment-meta">
                                            <time class="comment-time" th:text="${#dates.format(item.time, 'yyyy-MM-dd')}"></time>
                                            <span class="comment-reply">
                                            <a rel="nofollow" th:onclick="'javascript:TumoComment.reply(\'' + ${item.author} + '\',\'' + ${item.pId} + '\',\'' + ${item.id} + '\');'">回复</a>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </li>
            </ol>
            <div class="lists-navigator clearfix">
                <ol class="page-navigator" th:if="${talkList.total > 0}">
                    <li class="prev" th:if="${cp} gt '1'">
                        <a th:href="'?cp=' + ${cp < 1 ? cp : cp-1} + '#comments'">←</a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(1, talkList.total)}">
                        <a th:style="${i == cp ? 'color: #eb5055;' : ''}" th:href="'?cp=' + ${i} + '#comments'" th:text="${i}"></a>
                    </li>
                    <li class="next" th:if="${cp < talkList.total}">
                        <a th:href="'?cp=' + ${cp < talkList.total ? cp+1 : talkList.total} + '#comments'">→</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="site/footer :: footer"></div>
<!-- 公共的JS库 -->
<div th:include="site/common/onload_js ::onloadJS"></div>
</body>
<script type="text/javascript" th:src="@{static/site/js/about.js}"></script>
</html>
