<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="side">
    <div @click="drawerClick" v-if="sidebarStatus == true && mobileStatus == true" class="drawer-bg"></div>
    <div class="sidebar-container el-scrollbar">
        <div class="scrollbar-wrapper el-scrollbar__wrap">
            <div class="el-scrollbar__view" style="background-color: rgb(48, 65, 86);">
                <el-aside style="background-color: rgb(48, 65, 86);width: auto !important;" show-timeout="200">
                    <el-menu unique-opened :default-active="defaultActive" :collapse="!sidebarStatus" background-color="rgb(48, 65, 86)" text-color="#fff">
                     <el-submenu index="20">
                            <template slot="title">
                                <i class="el-icon-menu"></i>
                                <span>功能菜单</span>
                            </template>
        
                        <a href="/SSM-QX-SYS-V1.01/admin.do">
                            <el-menu-item index="1">
                                <i class="fa fa-home fa-fw"></i>
                                <span slot="title">首页</span>
                            </el-menu-item>
                        </a>
                        
                        <a href="/SSM-QX-SYS-V1.01/admin/article/publish.do">
                            <el-menu-item index="2">
                                <i class="fa fa-pencil-square-o fa-fw"></i>
                                <span slot="title">发布文章</span>
                            </el-menu-item>
                        </a>
                        <a href="/SSM-QX-SYS-V1.01/admin/article.do">
                            <el-menu-item index="3">
                                <i class="fa fa-list fa-fw"></i>
                                <span slot="title">文章管理</span>
                            </el-menu-item>
                        </a>
                        <a href="/SSM-QX-SYS-V1.01/admin/comments.do">
                            <el-menu-item index="4">
                                <i class="fa fa-comments fa-fw"></i>
                                <span slot="title">评论管理</span>
                            </el-menu-item>
                        </a>
                        <a href="/SSM-QX-SYS-V1.01/admin/category.do">
                            <el-menu-item index="5">
                                <i class="fa fa-tags fa-fw"></i>
                                <span slot="title">分类/标签</span>
                            </el-menu-item>
                        </a>
                        <a href="/SSM-QX-SYS-V1.01/admin/cover.do">
                            <el-menu-item index="7">
                                <i class="fa fa-paper-plane fa-fw"></i>
                                <span slot="title">封面管理</span>
                            </el-menu-item>
                        </a>
                        <a href="/SSM-QX-SYS-V1.01/admin/links.do">
                            <el-menu-item index="8">
                                <i class="fa fa-link fa-fw"></i>
                                <span slot="title">友链管理</span>
                            </el-menu-item>
                        </a>
                        <a href="/SSM-QX-SYS-V1.01/admin/personal.do">
                            <el-menu-item index="9">
                                <i class="fa fa-user fa-fw"></i>
                                <span slot="title">个人信息</span>
                            </el-menu-item>
                        </a>
                        </el-submenu>
                        <el-submenu index="10">
                            <template slot="title">
                                <i class="el-icon-setting"></i>
                                <span>系统管理</span>
                            </template>
                            
                        <a href="/SSM-QX-SYS-V1.01/admin/log.do">
                            <el-menu-item index="11">
                                <i class="fa fa-file-text fa-fw"></i>
                                <span slot="title">日志管理</span>
                            </el-menu-item>
                        </a>
                        <a href="/SSM-QX-SYS-V1.01/admin/user.do">
                            <el-menu-item index="12">
                                <i class="fa fa-cog fa-fw"></i>
                                <span slot="title">用户管理</span>
                            </el-menu-item>
                        </a>
                        <a href="/SSM-QX-SYS-V1.01/admin/role.do">
                            <el-menu-item index="13">
                                <i class="fa fa-cog fa-fw"></i>
                                <span slot="title">角色管理</span>
                            </el-menu-item>
                        </a>
                    </el-menu>
      </el-submenu>
                </el-aside>
            </div>
        </div>
        <div class="el-scrollbar__bar is-horizontal">
            <div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div>
        </div>
        <div class="el-scrollbar__bar is-vertical">
            <div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div>
        </div>
    </div>
</div>
</body>
</html>
